@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
    height: 100%;
}

mat-sidenav-container {
    height: 100%;
}


@include mat.core();

// $my-primary: mat.define-palette(mat.$indigo-palette);
// $my-accent: mat.define-palette(mat.$light-blue-palette);
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme((color: (primary: $my-primary,
//                 accent: $my-accent,
//                 warn: $my-warn,
//             ),
//             typography: mat.define-typography-config(),
//             density: 0,
//         ));

// @include mat.core-theme($my-theme);
// @include mat.all-component-themes($my-theme);




$theme: matx.define-theme((color: (theme-type: light,
                primary: matx.$m3-azure-palette,
                tertiary: matx.$m3-blue-palette,
            ),
            density: (scale: 0,
            )));

html {
    @include mat.all-component-themes($theme);
}

@include matx.color-variants-back-compat($theme);
@include mat.typography-hierarchy($theme);