@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
    height: 100%;
}

mat-sidenav-container {
    height: 100%;
}


@include mat.core();


$theme: matx.define-theme((color: (theme-type: light,
                primary: matx.$m3-azure-palette,
                tertiary: matx.$m3-blue-palette,
            ),
            density: (scale: 0,
            )));

html {
    @include mat.all-component-themes($theme);

    .mat-typography {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        --mdc-form-field-label-text-size: 1rem;
    }
}

@include matx.color-variants-back-compat($theme);
@include mat.typography-hierarchy($theme);