<h1>Liste d'épicerie</h1>
<h2>Recettes inclues</h2>
<ul>
    <li *ngFor="let r of recettes">
        {{r.nom}}
        <button (click)="openDeleteRecetteDialog(r)" mat-icon-button color="primary">
            <mat-icon fontIcon="delete"></mat-icon>
        </button>
    </li>
</ul>
<h2>Liste d'ingrédients</h2>
<div *ngFor="let categories of ingredientList|keyvalue: orderCategories">
    <h3>{{getCategoryLabel(categories.key)}}</h3>
    <ul class="nobullet">
        <li *ngFor="let ingredients of categories.value | keyvalue">
            <mat-checkbox color="primary">
                <span [innerHTML]="formatIngredient(ingredients.value)"></span>

                <ul class="bullet" *ngIf="ingredients.value.length > 1">
                    <li *ngFor="let ingredient of ingredients.value">
                        <span [innerHTML]="formatIngredient([ingredient])"></span>
                    </li>
                </ul>
            </mat-checkbox>
        </li>
    </ul>
</div>