<form>
    <mat-form-field>
        <mat-chip-grid #chipGrid>
            @for (ingredient of ingredients; track ingredient) {
            <mat-chip-row (removed)="remove(ingredient)">
                {{ingredient}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
        </mat-chip-grid>
        <input #input [placeholder]="text" [formControl]="inputCtrl" [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto" (matChipInputTokenEnd)="add($event)" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (ingredient of filteredIngredients | async; track ingredient) {
            <mat-option [value]="ingredient">{{ingredient}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>