<h1 mat-dialog-title>Ajouter un ingrédient</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="data.nom">
    </mat-form-field>

    <mat-label class="filterLabel">Disponible dans les filtres</mat-label>
    <mat-button-toggle-group [(ngModel)]="data.filterable" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle [value]="true">Oui</mat-button-toggle>
        <mat-button-toggle [value]="false">Non</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field>
        <mat-label>Catégorie</mat-label>
        <mat-select [(ngModel)]="data.category">
            <mat-option *ngFor="let category of categories" [value]="category.typeCode">{{category.label}}</mat-option>
        </mat-select>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button (click)="onCancelClick()" mat-flat-button>Cancel</button>
    <button (click)="onOkClick()" mat-flat-button color="primary">Ok</button>
</div>