<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div class="inputRow">
            <mat-form-field>
                <mat-label>Catégorie</mat-label>
                <mat-select [formControl]="categoryCtrl">
                    <mat-option *ngFor="let category of categoriePreparation"
                        [value]="category.id">{{category.nom}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="openAddCategoryDialog()" mat-icon-button color="primary">
                <mat-icon fontIcon="add"></mat-icon>
            </button>
        </div>
        <mat-form-field>
            <mat-label>Détail</mat-label>
            <textarea matInput [formControl]="detailCtrl"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button (click)="onCancelClick()" mat-stroked-button>Cancel</button>
    <button (click)="onOkClick()" mat-flat-button color="primary">Ok</button>
</div>