.container {
    padding: 20px 50px;
}

a.active {
    background-color: #e0e0e0;
}

.mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: unset;
}

mat-sidenav {
    border-right: 1px solid #c4c6d0;
    border-radius: 0;
}