<mat-sidenav-container>
  <mat-sidenav #drawer [ngClass]="{'hidden': !(isHandset$|async)}"
    [attr.role]="(isHandset$|async)?'dialog':'navigation'" [mode]="(isHandset$|async) ? 'over':'side'"
    [opened]="!(isHandset$|async)" fixedInViewport="true" mode="side" opened>
    <mat-toolbar *ngIf="isHandset$ | async">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="recette" routerLinkActive="active">Recettes</a>
      <a *ngIf="isDev()" mat-list-item routerLink="create-recette" routerLinkActive="active">Nouvelle recette</a>
      <a *ngIf="isDev()" mat-list-item routerLink="ingredients" routerLinkActive="active">Ingrédients</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>