<div *ngIf="recette != null" class="recette-detail">
    <h1>{{recette.nom}}</h1>
    <ul class="recipe-info-list">
        <li>
            <span class="bold">Préparation</span>
            <span>
                {{recette.tempsPreparation}} min
            </span>
        </li>
        <li>
            <span class="bold">Cuisson</span>
            <span>
                {{recette.tempsCuisson}} min
            </span>
        </li>

        <li>
            <span class="bold">Rendement</span>
            <span>{{recette.nombrePortion}} portions</span>
        </li>
    </ul>
    <p>
        <span class="bold">Type de repas</span>
        <mat-chip-set>
            <mat-chip class="typeCode"
                *ngFor="let typeRepas of recette.typeRepas">{{getTypeRepasLabel(typeRepas)}}</mat-chip>
        </mat-chip-set>
    </p>

    <p>
        <span class="bold">Étiquettes</span>
        <mat-chip-set>
            <mat-chip class="tags" *ngFor="let tags of recette.tags">{{tags.nom}}</mat-chip>
        </mat-chip-set>
    </p>


    <button *ngIf="isDev()" mat-stroked-button (click)="editRecette()">Modifier</button>
    <app-liste-epicerie-button [recette]="recette"></app-liste-epicerie-button>
    <div class="recetteDiv" [ngClass]="{'isColumnFlex': (isColumnFlex$|async)}">
        <div class="ingredientDiv">
            <h2>Ingrédients</h2>
            <div *ngFor="let ci of recette.categorieIngredient">
                <h3 *ngIf="!ci.isDefaultCategory">{{ci.nom}}</h3>
                <ul>
                    <li *ngFor="let i of ci.ingredient">
                        <mat-checkbox color="primary">
                            {{i.getLabel()}}
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
        <div class="preparationDiv">
            <h2>Préparation</h2>
            <div *ngFor="let cp of recette.categoriePreparation">
                <h3 *ngIf="!cp.isDefaultCategory">{{cp.nom}}</h3>
                <ul>
                    <li *ngFor="let p of cp.preparation">
                        <mat-checkbox>
                            {{p.ordre+1}}. {{p.text}}
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>