.recette-detail {
    ul {
        list-style: none;
    }

    h3 {
        font-weight: 500;
    }

    .mat-mdc-checkbox-checked {
        ::ng-deep label {
            color: rgb(136, 136, 136);
            text-decoration: line-through;
        }
    }

    .recetteDiv {
        display: flex;
        flex-direction: row;

        .ingredientDiv,
        .preparationDiv {
            flex: 1 1 100%;
        }

        &.isColumnFlex {
            flex-direction: column;
        }
    }

    .recipe-info-list {
        display: flex;
        padding: 0;
        flex-wrap: wrap;

        li {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            position: relative;


            &:not(:first-child) {
                padding: 0 1rem;

                &::before {
                    background-color: grey;
                    content: "";
                    display: flex;
                    height: calc(100% - .4rem);
                    left: 0;
                    position: absolute;
                    top: .2rem;
                    width: .1rem;
                }
            }
        }
    }

    .bold {
        font-weight: 550;
    }

    mat-chip {
        &.tags {
            --mdc-chip-elevated-container-color: #e0e0ff;
        }

        &.typeCode {
            --mdc-chip-elevated-container-color: #ffdad6
        }
    }

    app-liste-epicerie-button {
        margin-left: 5px;
    }
}