<h2 mat-dialog-title>Filtres</h2>
<form [formGroup]="myForm">
    <mat-dialog-content>
        <mat-accordion multi="true">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Inclure un ingrédient
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-ingredients-chip-autocomplete [ingredients]="ingredientsToInclude"
                    text="Inclure un ingrédient"></app-ingredients-chip-autocomplete>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Exclure un ingrédient
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-ingredients-chip-autocomplete [ingredients]="ingredientsToExclude"
                    text="Exclure un ingrédient"></app-ingredients-chip-autocomplete>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Type de repas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section [formGroup]="mealType">
                    <p *ngFor="let mt of allMealTypes">
                        <mat-checkbox [formControlName]="mt.typeCode">{{mt.label}}</mat-checkbox>
                    </p>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Temps total
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section [formGroup]="totalTime">
                    <p><mat-checkbox formControlName="less30">Inférieur à 30 minutes</mat-checkbox></p>
                    <p><mat-checkbox formControlName="from30to60">De 30 à 60 minutes</mat-checkbox></p>
                    <p><mat-checkbox formControlName="more60">Supérieur à 60 minutes</mat-checkbox></p>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mot-clé
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-tag-chip-autocomplete [tags]="tags" text="Exclure un ingrédient"></app-tag-chip-autocomplete>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary" (click)="applyFilters()">VOIR LES RÉSULTATS</button>
    </mat-dialog-actions>
</form>