<h2 mat-dialog-title>Filtres</h2>
<form>
    <mat-dialog-content>
        <mat-accordion multi="true">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Inclure un ingrédient
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-ingredients-chip-autocomplete text="Inclure un ingrédient"></app-ingredients-chip-autocomplete>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Exclure un ingrédient
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-ingredients-chip-autocomplete text="Exclure un ingrédient"></app-ingredients-chip-autocomplete>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Type de repas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section [formGroup]="mealType">
                    <p><mat-checkbox formControlName="accompagnement">Accompagnement</mat-checkbox></p>
                    <p><mat-checkbox formControlName="collation">Collation</mat-checkbox></p>
                    <p><mat-checkbox formControlName="dejeuner">Déjeuner & brunch</mat-checkbox></p>
                    <p><mat-checkbox formControlName="dessert">Dessert</mat-checkbox></p>
                    <p><mat-checkbox formControlName="entree">Entrée</mat-checkbox></p>
                    <p><mat-checkbox formControlName="diner">Dîner</mat-checkbox></p>
                    <p><mat-checkbox formControlName="platPrincipal">Plat principal</mat-checkbox></p>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Temps total
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <section [formGroup]="totalTime">
                    <p><mat-checkbox formControlName="less30">Inférieur à 30 minutes</mat-checkbox></p>
                    <p><mat-checkbox formControlName="from30to60">De 30 à 60 minutes</mat-checkbox></p>
                    <p><mat-checkbox formControlName="more60">Supérieur à 60 minutes</mat-checkbox></p>
                </section>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mot-clé
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button color="primary" mat-dialog-close>VOIR LES RÉSULTATS</button>
    </mat-dialog-actions>




</form>