<div class="recettesContainer">
    <mat-card [ngClass]="{'xsmall': (isXSmall$|async), 'small': (isSmall$|async), 'medium': (isMedium$|async)}"
        class="recetteCard" *ngFor="let recette of recettes">
        <mat-card-header>
            <mat-card-title>{{recette.nom}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Préparation : {{formatTime(recette.tempsPreparation)}}</p>
            <p>Cuisson : {{formatTime(recette.tempsCuisson)}}</p>
            <p>Total : {{formatTime(recette.tempsPreparation + recette.tempsCuisson)}}</p>
            <mat-chip-set class="example-chip">
                <mat-chip class="tags" *ngFor="let tag of recette.tags">{{tag.nom}}</mat-chip>
                <mat-chip class="typeCode"
                    *ngFor="let typeRepas of recette.typeRepas">{{getTypeRepasLabel(typeRepas)}}</mat-chip>
            </mat-chip-set>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <a (click)="navigate(recette)" mat-stroked-button color="primary">Ouvrir</a>
        </mat-card-actions>
    </mat-card>
</div>