.recettesContainer {
    display: flex;
    flex-wrap: wrap;

    .recetteCard {
        display: flex;
        width: calc(25% - 10px);
        margin-right: 10px;
        margin-top: 10px;

        &.medium {
            width: calc(33% - 10px);
        }

        &.small {
            width: calc(50% - 10px);
        }

        &.xsmall {
            width: 100%;
        }

        mat-card-content {
            display: flex;
            flex-direction: column;
            flex: 1 1 100%;

            mat-chip-set {
                margin-top: auto;

                mat-chip {
                    &.tags {
                        --mdc-chip-elevated-container-color: #e0e0ff;
                    }

                    &.typeCode {
                        --mdc-chip-elevated-container-color: #ffdad6
                    }
                }
            }
        }

        mat-card-title {
            line-height: --mat-card-title-text-line-height;
            min-height: calc(var(--mat-card-title-text-line-height) * 3);
        }

        mat-card-actions {
            min-height: unset;
            flex-wrap: wrap;

            app-liste-epicerie-button {
                margin-left: 5px;

            }

            app-liste-epicerie-button,
            a {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}