<h1>Créer une recette</h1>
<h2>Informations</h2>
<mat-form-field>
    <mat-label>Nom de la recette</mat-label>
    <input matInput />
</mat-form-field>
<mat-form-field>
    <mat-label>Nombre de portions</mat-label>
    <input matInput type="number" />
</mat-form-field>
<mat-form-field>
    <mat-label>Temps de préparation</mat-label>
    <input matInput type="number" />
</mat-form-field>
<mat-form-field>
    <mat-label>Temps de cuisson</mat-label>
    <input matInput type="number" />
</mat-form-field>
<h2>Ingrédients</h2>
<div class="ingredientHeader">
    <button (click)="openAddCategoryDialog()" mat-raised-button color="primary">
        <mat-icon fontIcon="add"></mat-icon>
        Catégorie</button>
</div>
<div *ngFor="let category of recette.categorieIngredient">
    <h3 *ngIf="category.ordre >=0">{{category.nom}}</h3>
    <button (click)="openAddIngredientDialog(category)" mat-raised-button color="primary">
        <mat-icon fontIcon="add"></mat-icon>
        Ingrédient
    </button>
</div>
<h2>Préparation</h2>


{{recette | json}}