<h1>Créer une recette</h1>
<h2>Information</h2>
<mat-form-field>
    <mat-label>Nom de la recette</mat-label>
    <input [(ngModel)]="recette.nom" matInput />
</mat-form-field>
<mat-form-field>
    <mat-label>Nombre de portions</mat-label>
    <input [(ngModel)]="recette.nombrePortion" matInput type="number" />
</mat-form-field>
<mat-form-field>
    <mat-label>Temps de préparation</mat-label>
    <input [(ngModel)]="recette.tempsPreparation" matInput type="number" />
</mat-form-field>
<mat-form-field>
    <mat-label>Temps de cuisson</mat-label>
    <input [(ngModel)]="recette.tempsCuisson" matInput type="number" />
</mat-form-field>
<mat-form-field>
    <mat-label>Étiquettes</mat-label>
    <mat-chip-grid #chipGrid>
        @for (tag of tags; track tag) {
        <mat-chip-row (removed)="remove(tag)">
            {{tag.nom}}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        }
    </mat-chip-grid>
    <input #input [matAutocomplete]="auto" matInput [formControl]="tagsCtrl" [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="add($event)" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
        @for (tag of filteredTags | async; track tag) {
        <mat-option [value]="tag">{{tag.nom}}</mat-option>
        }
    </mat-autocomplete>
</mat-form-field>
<h2>Ingrédients</h2>
<div class="ingredientHeader">
    <button (click)="openAddIngredientDialog()" mat-stroked-button color="primary">
        <mat-icon fontIcon="add"></mat-icon>
        Ingrédient
    </button>
</div>
<div *ngFor="let category of recette.categorieIngredient">
    <h3 *ngIf="!category.isDefaultCategory">{{category.nom}}</h3>
    <ul>
        <li *ngFor="let ingredient of category.ingredient">
            {{ingredient.quantite}} {{getUnitLabel(ingredient)}} {{ingredient.ingredient.nom}} {{ingredient.detail}}
            <button (click)="openEditIngredientDialog(ingredient)" mat-icon-button color="primary">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button (click)="openDeleteIngredientDialog(ingredient)" mat-icon-button color="primary">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </li>
    </ul>
</div>
<h2>Préparation</h2>
<div class="ingredientHeader">
    <button (click)="openAddPreparationDialog()" mat-stroked-button color="primary">
        <mat-icon fontIcon="add"></mat-icon>
        Étape
    </button>
</div>
<div *ngFor="let category of recette.categoriePreparation">
    <h3 *ngIf="!category.isDefaultCategory">{{category.nom}}</h3>
    <ol>
        <li *ngFor="let preparation of category.preparation">
            {{preparation.text}}
            <button (click)="openEditPreparationtDialog(preparation)" mat-icon-button color="primary">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button (click)="openDeletePreparationtDialog(preparation)" mat-icon-button color="primary">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </li>
    </ol>
</div>

<button (click)="createRecette()" mat-stroked-button color="primary">
    Créer
</button>