<h1>Créer une recette</h1>
<h2>Informations</h2>
<mat-form-field>
    <mat-label>Nom de la recette</mat-label>
    <input matInput />
</mat-form-field>
<mat-form-field>
    <mat-label>Nombre de portions</mat-label>
    <input matInput />
</mat-form-field>
<mat-form-field>
    <mat-label>Temps de préparation</mat-label>
    <input matInput />
</mat-form-field>
<mat-form-field>
    <mat-label>Temps de cuisson</mat-label>
    <input matInput />
</mat-form-field>
<h2>Ingrédients</h2>
<app-create-recette-ingredient></app-create-recette-ingredient>
<h2>Préparation</h2>